<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>MusicApp</header>
    <% if current_user %> <!--Logout -->

    <form action="<%=session_url%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="Submit" value="Log Out">
    </form>

    <% else %>

    <form action="<%=new_session_url%>" method="GET">
    <input type="Submit" value="Log In">
    </form>
    <br>

    <form action="new_user_url" method="GET">
    <input type="Submit" value="Sign Up">
    </form>
    <% end %>

    <%= yield %>
  </body>
</html>
